@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap");

body {
  background: #1a202c;
  max-width: 80%;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}
